{% extends "LibraryBundle:Default:layout.html.twig" %}

{% block body %}
	<h2>Accueil</h2>
	<h4>Tous nos livres :</h4>
	{% for book in books %}
		<li><a href="{{ path('library_book', {'slug': book.slug}) }}">{{ book.title }} by {{ book.author.name }}</a></li>
	{% endfor %}
{% endblock %}